<img style="float: left;;" src='Figures/iteso.jpg' width="100" height="200"/></a>

# <center> <font color= #000047> Conteo de categorías </font> </center>

In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv('temps.txt',sep='\s+',header=None) # Fuente: http://astro.iam.udg.mx/Estacion/NOAAPRMO.TXT
                                                         #         http://astro.iam.udg.mx/Estacion/NOAAMO.TXT
data.columns=['Temperatura máxima','Temperatura mínima','HDD','CDD','Rain']
d=['Sábado','Domingo','Lunes','Martes','Miércoles','Jueves','Viernes']
dias=[d[i%7] for i in range(len(data))]
catego=['Soleado','Mayormente soleado','Parcialmente nublado','Mayormente nublado','Nublado','Lluvioso']
prono=[catego[-1] if data['Rain'][i]>0 else catego[int(round(1.2*(data['HDD'][i]-data['CDD'][i])+2))] for i in range(len(data))]
df=pd.DataFrame(columns=['Días','Pronóstico','Temperatura máxima','Temperatura mínima'],index=range(len(data)))
df.iloc[:,2:4]=data.iloc[:,0:2]
df['Días']=dias
df['Pronóstico']=prono

txt1="Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris."
txt2="Preciosos gatos y perros con mancha quiero. Partir de izquierda a derecha para poder llegar a algun lugar."
txt3="En un lugar de la Mancha, cuyo nombre no quiero acordarme..."

In [2]:
df.head()

        Días            Pronóstico Temperatura máxima Temperatura mínima
0     Sábado  Parcialmente nublado               28.2               11.2
1    Domingo  Parcialmente nublado               29.1               10.7
2      Lunes    Mayormente nublado               26.1               10.4
3     Martes    Mayormente soleado               29.4               11.1
4  Miércoles    Mayormente soleado               29.8               11.1

In [3]:
df['Pronóstico'].unique()

array(['Parcialmente nublado', 'Mayormente nublado', 'Mayormente soleado',
       'Soleado', 'Lluvioso', 'Nublado'], dtype=object)

In [4]:
conteo=df['Pronóstico'].value_counts()
conteo

Parcialmente nublado    18
Mayormente soleado      14
Mayormente nublado       6
Soleado                  6
Lluvioso                 2
Nublado                  2
Name: Pronóstico, dtype: int64

In [5]:
df['Conteo']=df['Pronóstico'].map(conteo)
df.head()

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Conteo
0,Sábado,Parcialmente nublado,28.2,11.2,18
1,Domingo,Parcialmente nublado,29.1,10.7,18
2,Lunes,Mayormente nublado,26.1,10.4,6
3,Martes,Mayormente soleado,29.4,11.1,14
4,Miércoles,Mayormente soleado,29.8,11.1,14

In [6]:
freq=df['Pronóstico'].value_counts()/len(df) #probabilidad de aparición de la categoría
df['Frecuencia']=df['Pronóstico'].map(freq)
df.head()

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Conteo,Frecuencia
0,Sábado,Parcialmente nublado,28.2,11.2,18,0.375000
1,Domingo,Parcialmente nublado,29.1,10.7,18,0.375000
2,Lunes,Mayormente nublado,26.1,10.4,6,0.125000
3,Martes,Mayormente soleado,29.4,11.1,14,0.291667
4,Miércoles,Mayormente soleado,29.8,11.1,14,0.291667

In [9]:
freq

Parcialmente nublado    0.375000
Mayormente soleado      0.291667
Mayormente nublado      0.125000
Soleado                 0.125000
Lluvioso                0.041667
Nublado                 0.041667
Name: Pronóstico, dtype: float64

In [7]:
freq.sum()

1.0

In [8]:
df['Pronóstico'].value_counts(normalize = True)

Parcialmente nublado    0.375000
Mayormente soleado      0.291667
Mayormente nublado      0.125000
Soleado                 0.125000
Lluvioso                0.041667
Nublado                 0.041667
Name: Pronóstico, dtype: float64

# Bag of words

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
txt1

'Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris.'

In [13]:
txt2

'Preciosos gatos y perros con mancha quiero. Partir de izquierda a derecha para poder llegar a algun lugar.'

In [14]:
txt3

'En un lugar de la Mancha, cuyo nombre no quiero acordarme...'

In [11]:
contador=CountVectorizer()
matriz=contador.fit_transform([txt1,txt2,txt3])
matriz.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 0],
       [0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 1, 1, 0],
       [1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1]], dtype=int64)

In [15]:
#contador.get_feature_names_out()
contador.get_feature_names()   # En NLP ----> vocabulario

['acordarme',
 'algun',
 'con',
 'cuyo',
 'de',
 'derecha',
 'en',
 'gatos',
 'izquierda',
 'la',
 'llegar',
 'lugar',
 'mancha',
 'no',
 'nombre',
 'paisajes',
 'para',
 'paris',
 'partir',
 'pedro',
 'pereira',
 'perez',
 'perros',
 'pinta',
 'pintor',
 'pobre',
 'poder',
 'portuguez',
 'preciosos',
 'quiero',
 'un']

In [16]:
pd.DataFrame(matriz.toarray(),['txt1','txt2','txt3'],contador.get_feature_names()) #Matriz de frecuencias

,acordarme,algun,con,cuyo,de,derecha,en,gatos,izquierda,la,...,perez,perros,pinta,pintor,pobre,poder,portuguez,preciosos,quiero,un
txt1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,1,1,1,0,0
txt2,0,1,1,0,1,1,0,1,1,0,...,0,1,0,0,0,1,0,1,1,0
txt3,1,0,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1

### n-grams

In [17]:
txt1

'Pedro Perez Pereira, pobre pintor portuguez, pinta preciosos paisajes para poder partir para Paris.'

In [18]:
contador=CountVectorizer(ngram_range=(2,2))
data=contador.fit_transform([txt1,txt2,txt3]).toarray()
names=contador.get_feature_names()
pd.DataFrame(data,['txt1','txt2','txt3'],names)

,algun lugar,con mancha,cuyo nombre,de izquierda,de la,derecha para,en un,gatos perros,izquierda derecha,la mancha,...,pintor portuguez,pobre pintor,poder llegar,poder partir,portuguez pinta,preciosos gatos,preciosos paisajes,quiero acordarme,quiero partir,un lugar
txt1,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,1,0,1,0,0,0
txt2,1,1,0,1,0,1,0,1,1,0,...,0,0,1,0,0,1,0,0,1,0
txt3,0,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,1